@keyframes anim{
      0% {opacity: 0;}
    100% {opacity: 1;}
}
.box{
	width: 400px;
	height: 300px;
	border: 1px solid gray;
	margin:0 auto;
	margin-top: 200px;
	border-radius:10px 10px 10px 10px;
	animation: anim 5s;
}
.sbox{
	width: 300px;
	height: 200px;
	margin:0 auto;
	margin-top: 50px;
}
.tx{
	width: 300px;
	height: 40px;
	font-size: 20px;
}